@media only screen and (max-width: 1024px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #enTete1, #enTete2{
        text-align: center;
        padding: 10px;
    }

    #maPhoto{
        margin: 0px;
    }

    legend{
        text-align: center;
    }

    #stocks div{
        margin: 8px;
        text-align: center;
    }

    #contact{
        display: block;
    }

    #message1{
        margin: auto;
        width:100%;
    }

    #offreImage{
        margin: auto;
        width:100%;
    }
}

@media only screen and (max-width: 600px){
    @keyframes fieldsetText{
        from {
            letter-spacing: 2px;
        } to {
            letter-spacing: 12px;
        }
    }

    ul li{
        text-align: center;
    }

    td, th{
        padding: 7px 7px;
    }
    
    #pointPos{
        display: block;
        text-align: center;
    }
    
    #stocks{
        display: block;
    }
}