*{
    font-family: "Open Sans", sans-serif;
}

    /*header*/

header{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(black, gray);
    width: 100%;
    margin-bottom: 20px;
    color: white;
}

h1, h2{
    font-weight: 100;
    text-shadow: -4px 4px 4px black;
}

header:hover h1{
    animation-name: tourneShadow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

header:hover h2{
    animation-name: tourneShadow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes tourneShadow{
    0%{
        text-shadow: -10px 0px 3px black;
    } 25% {
        text-shadow: 0px -10px 3px black;
    } 50% {
        text-shadow: 10px 0px 3px black;
    } 75% {
        text-shadow: 10px 15px 3px black;
    } 100% {
        text-shadow: -10px 0px 3px black;
    }
}

#enTete1{
    text-align: right;
}

#maPhoto{
    border-radius: 50%;
    border: solid white 3px;
    margin: 20px;
}

header:hover #maPhoto{
    animation-name: tournePhoto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}

@keyframes tournePhoto{
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

/*Virus*/

#virus1{
    height: 70px;
    position: absolute;
    animation-name: virus1;
    animation-duration: 10s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes virus1{
    0% {
        top: 5%;
        left: 5%;
    } 25% {
        top: 25%;
        left: 95%;
    } 50% {
        top: 50%;
        left: 5%;
    } 75% {
        top: 75%;
        left: 95%;
    } 100% {
        top: 95%;
        left: 5%;
    }
}

#virus2{
    height: 70px;
    position: absolute;
    animation-name: virus2;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes virus2{
    0% {
        top: 95%;
        left: 5%;
    } 25% {
        top: 5%;
        left: 25%;
    } 50% {
        top: 95%;
        left: 50%;
    } 75% {
        top: 5%;
        left: 75%;
    } 100% {
        top: 95%;
        left: 95%;
    }
}

#virus3{
    height: 70px;
    position: absolute;
    animation-name: virus3;
    animation-duration: 6s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes virus3{
    0% {
        top: 5%;
        left: 50%;
    } 25% {
        top: 75%;
        left: 95%;
    } 50% {
        top: 95%;
        left: 25%;
    } 75% {
        top: 25%;
        left: 5%;
    } 100% {
        top: 5%;
        left: 50%;
    }
}

/*Body*/

body{
    position: relative;
    border: 5px solid gray;
}

fieldset{
    margin: 20px;
    padding: 20px;
}

legend{
    font-weight: bold;
    font-size: 18px;
    text-shadow: -2px 2px 2px gray;
}

fieldset:hover legend{
    animation-name: fieldsetText;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes fieldsetText{
    from {
        letter-spacing: 2px;
    } to {
        letter-spacing: 30px;
    }
}


#asterisque1, #asterisque2, #asterisque3{
    display: inline-block;
    padding: 8px 10px 0px 10px;
    font-weight: bold;
    margin-left: 10px;
    border: solid black 1px;
    border-radius: 75px;
    text-align: center;
    position: relative;
}

#asterisque1:hover, #asterisque2:hover, #asterisque3:hover{
    background-color: black;
    color: white;
}

#chambre{
    display: inline-block;
    padding: 10px;
    width: 300px;
    height: 300px;
    font-size: 90px;
    border: solid black 3px;
    background-color:crimson;
    border-radius: 50%;
    position: absolute;
    visibility: hidden;
    top: 35px;
    left: -150px;
}

#asterisque1:hover #chambre{
    visibility: visible;
}

#lesRouges{
    display: inline-block;
    padding: 10px;
    width: 300px;
    height: auto;
    font-size: 90px;
    border: solid black 3px;
    background-color:crimson;
    border-radius: 50%;
    position: absolute;
    visibility: hidden;
    top: 35px;
    left: -150px;
}

#asterisque2:hover #lesRouges{
    visibility: visible;
}

#jones{
    padding: 10px;
    background-color:crimson;
    width: 300px;
    height: auto;
    border: solid black 3px;
    border-radius: 50%;
    position: absolute;
    visibility: hidden;
    top: 35px;
    left: -150px;
}

#asterisque3:hover #jones{
    visibility: visible;
}

ul li{
    margin: 10px;
}

table{
   text-align: center;
   border-collapse: collapse;
   width: 100%;
}

td, th{
   padding: 7px 20px;
}

th{
   border-bottom: solid gray 1px;
}

.bordTab{
    border-right: solid gray 1px;
}

#pointPos{
    display: flex;
    justify-content: space-evenly;
}

input[type="checkbox"]:checked {
    box-shadow: -2px 2px 3px red;
}

#stocks{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#retour{

    text-decoration: none;
    font-style: oblique;
    color: black;
    padding: 20px;
    letter-spacing: 3px;
    text-align: center;
}

#retour:hover{
    animation-name: animRetour;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes animRetour{
    from{
        letter-spacing: 3px;
        color: black;
        font-weight: normal;
    } to {
        letter-spacing: 23px;
        color: red;
        font-weight: bold;
    }
}

/*Footer*/

footer{
    background-image: linear-gradient(gray, black);
    color: white;
    padding: 20px;
}

#contactTitre{
    text-align: center;
    margin: 0px;
    padding: 10px;
    text-shadow: 0px 5px 3px black;
}

#contactTitre:hover{
    font-size: 20px;
    animation-name: grandit;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes grandit{
    from{
        font-size: 20px;
        text-shadow: 0px 5px 3px black;
    } to {
        font-size: 60px;
        text-shadow: 0px 30px 3px black;
    }
}

#contact{
    display: inline-flex;
    align-items: center;
    width: 100%;
}

#message1{
    width:50%;
    text-align: center;
}

#message2{
    display: flex;
    flex-direction: column;
    text-align: center;
}

input, textarea{
    margin: 5px auto;
}

input[type=submit]{
    border-radius: 10px;
    padding: 8px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,1), rgba(0,0,0,1));
    box-shadow: 5px 5px 3px black;
    color: white;
}

input[type=submit]:hover{
    animation-name: bouton;
    animation-duration: 400ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

textarea:focus{
    background-image: linear-gradient(to bottom, white, gray);
}

@keyframes bouton{
    from{
        transform: translate(0, 0px);
        box-shadow: 5px 5px 3px black;

    } to {
        transform: translate(5px, 5px);
        box-shadow: none;
    }
}

#offreImage{
    display: flex;
    width: 50%;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}
